<div class="modal" id="modal_new_vim" xmlns="http://www.w3.org/1999/html">
    <div   class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" >New Vim</h4>
            </div>
             <form id="formCreateVim" action='{% url "vim:create" %}' class="form-horizontal"
                      method="post" enctype="multipart/form-data">
                     {% csrf_token %}
            <div class="modal-body" id="modal_new_vim_body" >

                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="name" name="name"
                                       placeholder="Vim name" required>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="type" name="type"
                                       placeholder="Vim type" required>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="description" name="description"
                                       placeholder="Description" >
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="vim_tenant_name" class="col-sm-3 control-label">Tenant name</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="vim_tenant_name" name="vim_tenant_name"
                                       placeholder="Tenant name" required>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="vim_username" class="col-sm-3 control-label">Vim Username</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="vim_username" name="vim_username"
                                       placeholder="Vim Username" required>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="vim_password" class="col-sm-3 control-label">Vim Password</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="vim_password" name="vim_password"
                                       placeholder="Vim Password" required>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="vim_url" class="col-sm-3 control-label">Vim URL</label>
                            <div class="col-sm-6">
                                <input type="url" class="form-control" id="vim_url" name="vim_url"
                                       placeholder="Vim URL" required>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="vim_url_admin" class="col-sm-3 control-label">Vim URL Admin</label>
                            <div class="col-sm-6">
                                <input type="url" class="form-control" id="vim_url_admin" name="vim_url_admin"
                                       placeholder="Vim URL Admin" required>
                            </div>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary"  data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Creating..." id="save_new_vim">Create</button>

            </div>
                 </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>