<div class="modal" id="modal_show_instance" xmlns="http://www.w3.org/1999/html">
    <div   class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" >Instance details</h4>
            </div>

            <div class="modal-body" id="modal_show_instance_body" >
                <textarea id="instance_view_json">
                </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
