<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id="globalmenu">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>

          <li><a href="/home"><i class="fa fa-home fa-fw"></i><span>Home</span></a></li>
          <li class="header">PROJECT</li>

          <li >
              <a href="/projects/1/">
                  <i class="fa fa-file-text fa-fw"></i><span>Overview</span>
              </a>
          </li>


        <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive fa-fw"></i> <span>Packages</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">

                    <li>
                        <a href="/projects/1/descriptors/nsd">
                            <i class="fa fa-archive fa-fw"></i>NS Packages
                        </a>
                    </li>

                    <li>
                        <a href="/projects/1/descriptors/vnfd">
                            <i class="fa fa-archive fa-fw"></i>VNF Packages
                        </a>
                    </li>

                </ul>
            </li>

            <li class="active">
                <a href="/instances/ns/list/">
                    <i class="fa fa-list fa-fw"></i><span>NS Instances</span>
                </a>
            </li>
            <li class="header">CONFIG</li>

             <li>
                 <a href="/vims/list/">
                     <i class="fa fa-list fa-fw"></i><span>VIM Accounts</span>
                 </a>
             </li>

      </ul>
    </section>
    <!-- /.sidebar -->
</aside>
