<div class="panel" id="aws_config" style="display: none;">
    <h5 class="box-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#aws_config_collapse">
            Config parameters
        </a>
    </h5>
    <div id="aws_config_collapse" class="panel-collapse collapse ">
        <div class="col-lg-6">
            <div class="row">
                <div class="form-group">
                    <label for="aws_sdn_ctrl" class="col-sm-4 control-label">SDN Controller</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="aws_sdn_ctrl" name="config_sdn_controller"
                               placeholder="sdn_controller">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="aws_sdn_port_map" class="col-sm-4 control-label">SDN Port Mapping</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="aws_sdn_port_map" name="config_sdn_port_mapping"
                               placeholder="sdn_port_mapping">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="aws_region_name" class="col-sm-4 control-label">Region name</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="aws_region_name" name="config_region_name"
                               placeholder="region_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="vpc_cidr_block" class="col-sm-4 control-label">VPC cidr block</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vpc_cidr_block" name="config_vpc_cidr_block"
                               placeholder="vpc_cidr_block">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="form-group">
                    <label for="aws_security_groups" class="col-sm-4 control-label">Security groups</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="aws_security_groups" name="config_security_groups"
                               placeholder="security_groups">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="aws_key_pair" class="col-sm-4 control-label">Key pair</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="aws_key_pair" name="config_key_pair"
                               placeholder="key_pair">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="aws_flavor_info" class="col-sm-4 control-label">Flavor info</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="aws_flavor_info" name="config_flavor_info"
                               placeholder="flavor_info">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

