<div class="panel" id="openvim_config" >
    <h5 class="box-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#openvim_config_collapse">
            Config parameters
        </a>
    </h5>
    <div id="openvim_config_collapse" class="col-lg-6 panel-collapse collapse ">

        <div class="row ">
            
                <label for="ov_sdn_ctrl" class="col-sm-4 control-label">SDN Controller</label>
                <div class="col-sm-6 input-group input-group-sm">
                    <p id="ov_sdn_ctrl"> {{datacenter.sdn_ctrl|default:"---" }}</p>
                </div>
        </div>
        <div class="row">
                <label for="ov_sdn_port_map" class="col-sm-4 control-label">SDN Port Mapping</label>
                <div class="col-sm-6 input-group input-group-sm">
                    <p id="ov_sdn_port_map"> {{datacenter.sdn_port_map|default:"---" }}</p>
                </div>
        </div>
    </div>
</div>