<div class="panel" id="vmware_config" style="display: none;">
    <h5 class="box-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#vmware_config_collapse">
            Config parameters
        </a>
    </h5>
    <div id="vmware_config_collapse" class="panel-collapse collapse ">
        <div class="col-lg-6">
            <div class="row">
                <div class="form-group">
                    <label for="vmware_sdn_ctrl" class="col-sm-4 control-label">SDN Controller</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vmware_sdn_ctrl" name="sdn_controller"
                               placeholder="SDN Controller">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="vmware_sdn_port_map" class="col-sm-4 control-label">SDN Port Mapping</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vmware_sdn_port_map" name="sdn_port_mapping"
                               placeholder="SDN Port Mapping">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="orgname" class="col-sm-4 control-label">Org. name</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="orgname" name="orgname" placeholder="Org. name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="admin_username" class="col-sm-4 control-label">Admin username</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="admin_username" name="admin_username"
                               placeholder="Admin username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="admin_password" class="col-sm-4 control-label">Admin password</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="admin_password" name="admin_password"
                               placeholder="Admin password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="nsx_manager" class="col-sm-4 control-label">Nsx manager</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="nsx_manager" name="nsx_manager" placeholder="nsx manager">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="nsx_user" class="col-sm-4 control-label">Nsx user</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="nsx_user" name="nsx_user" placeholder="nsx user">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="nsx_password" class="col-sm-4 control-label">Nsx password</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled type="password" class="form-control config-input" id="nsx_password" name="nsx_password"
                               placeholder="nsx password">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="form-group">
                    <label for="vcenter_ip" class="col-sm-4 control-label">Vcenter ip</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vcenter_ip" name="vcenter_ip" placeholder="vcenter ip">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="vcenter_port" class="col-sm-4 control-label">Vcenter port</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vcenter_port" name="vcenter_port" placeholder="vcenter port">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="vcenter_user" class="col-sm-4 control-label">Vcenter user</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vcenter_user" name="vcenter_user" placeholder="vcenter user">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="vcenter_password" class="col-sm-4 control-label">Vcenter password</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled type="password" class="form-control config-input" id="vcenter_password" name="vcenter_password"
                               placeholder="vcenter password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="vrops_site" class="col-sm-4 control-label">Vrops site</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vrops_site" name="vrops_site" placeholder="vrops site">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="vrops_user" class="col-sm-4 control-label">Vrops user</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vrops_user" name="vrops_user" placeholder="vrops user">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="vrops_password" class="col-sm-4 control-label">Vrops password</label>
                    <div class="col-sm-6 input-group input-group-sm">
                        <input disabled class="form-control config-input" id="vrops_password" name="vrops_password"
                               placeholder="vrops password">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>