{% extends "project_details.html" %}
{% block head_base %}
    {{ block.super }}
{% endblock %}

{% block body %}
        {{ block.super }}
{% endblock %}
{% block logo_sidebar %}
        {{ block.super }}
{% endblock %}

{% block left_sidebar %}
    {% include 'osm/osm_project_left_sidebar.html' %}
{% endblock %}

{% block content_body %}

<div class="row">
    <div class="col-md-6">
        <div class="box box-widget">
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a><b>Project Name:</b> <span
                        class="pull-right">{{project_overview.name}}</span></a>
                    </li>
                    <li><a><b>Info:</b> <span
                            class="pull-right">{{project_overview.info}}</span></a></li>
                    <li><a><b>Last updated:</b> <span
                        class="pull-right">{{project_overview.updated_date}}</span></a>
                    </li>
                    <li><a><b>Owner:</b> <span
                            class="pull-right">{{project_overview.owner}}</span></a></li>
                </ul>

            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 ">
                <div class="small-box bg-aqua">
                    <div class="inner"><h3>{{ project_overview.nsd }}</h3>
                        <p>NS packages</p></div>
                    <div class="icon"><i class="fa fa-archive"></i></div>
                    <a href="/projects/{{ project_id }}/descriptors/nsd" class="small-box-footer">Open list <i
                            class="fa fa-arrow-circle-right"></i></a></div>
            </div>
            <div class="col-md-6 ">
                <div class="small-box bg-aqua">
                    <div class="inner"><h3>{{ project_overview.vnfd }}</h3>
                        <p>VNF packages</p></div>
                    <div class="icon"><i class="fa fa-archive"></i></div>
                    <a href="/projects/{{ project_id }}/descriptors/vnfd" class="small-box-footer">Open list <i
                            class="fa fa-arrow-circle-right"></i></a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="small-box bg-maroon">
                    <div class="inner"><h3>{{ project_overview.ns }}</h3>
                        <p>NS Instances</p></div>
                    <div class="icon"><i class="fa fa-list"></i></div>
                    <a href='{% url "projects:instances:list" project_id=project_id type="ns"  %}' class="small-box-footer">Open list <i
                            class="fa fa-arrow-circle-right"></i></a></div>
            </div>

        </div>

    </div>
</div>

{% endblock %}


{% block footer %}
    {% include "footer.html" %}
{% endblock %}
