{% extends "project_descriptors.html" %}
{% load staticfiles %}


{% block head_block %}
  	{{ block.super }}
<link rel="stylesheet" href="/static/bower_components/select2/dist/css/select2.min.css">
{% endblock %}

{% block title_header_big %}
    {{ block.super }}
  {% if descriptor_type  %}
     {{ descriptor_type|upper }}
  {% else%}
    Undefined
  {% endif %} Packages
{% endblock %}

{% block left_sidebar %}
    {% include 'osm/osm_project_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>
    <li><a> {% if descriptor_type  %}
     {{ descriptor_type }}
  {% else%}
    Undefined
  {% endif %} Packages</a></li>

{% endblock %}

{% block content_body %}
  	{{ block.super }}
{% include 'osm/modal/files_list.html' %}
{% include 'modal/instance_create.html' %}
<div class="row">
    {% include "osm/descriptor/descriptorlist.html" %}
</div>
{% endblock %}




{% block resource_block %}
  	{{ block.super }}
    <script src="/static/bower_components/select2/dist/js/select2.js"></script>
    <script>
        function deletePackage(project_id, descriptor_type, package_id) {
            bootbox.confirm("Are you sure want to delete?", function (result) {
                if (result) {
                    location.href = '/projects/' + project_id + '/descriptors/' + descriptor_type + '/' + package_id + '/delete'
                }
            })
        }

        function openModalCreateNS(project_id, descriptor_type, descriptor_id) {
            select2_groups = $('#vimAccountId').select2({
                placeholder: 'Select VIM',
                ajax: {
                    url: '{% url "vim:list" %}',
                    dataType: 'json',
                    processResults: function (data) {
                        vims = [];
                        if (data['datacenters']){
                            for(d in data['datacenters']){
                            var datacenter = data['datacenters'][d];
                            vims.push({id: datacenter['_id'], text: datacenter['name']})
                        }
                        }

                        return {
                            results: vims
                        };
                    }
                }
            });
            $('#nsdId').val(descriptor_id);
            $('#modal_new_instance').modal('show');
        }

        function openPackageContentList(project_id, type, pkg_id) {
            var dialog = bootbox.dialog({
                message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>',
                closeButton: true
            });
            $.ajax({
                url: '/projects/' + project_id + '/descriptors/' + type + '/' + pkg_id + '/action/get_package_files_list',
                type: 'GET',
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    //$('#modal_show_vim_body').empty();
                    console.log(result)
                    dialog.modal('hide');
                    build_file_list("Files in " + pkg_id, result.files);
                },
                error: function (result) {
                    dialog.modal('hide');
                    bootbox.alert("An error occurred while retrieving the package content.");
                }
            });
        }


        function build_file_list(title, list) {
            $('#files_list_tbody').find('tr:gt(0)').remove();
            $('#files_list_tbody_title').text(title)
            for (var i in list) {
                var template = '<tr><td>-</td><td>' + list[i] + '</td><td><button type="button" class="btn btn-default" onclick="" disabled><i class="fa fa-folder-open"></i></button></td></tr>'
                $('#files_list_tbody').append(template)
            }
            $('#modal_files_list').modal('show');
        }
    </script>
{% endblock %}

{% block footer %}
    {% include "footer.html"  %}
{% endblock %}
