{% extends "left_sidebar_base.html" %}

{% block left_sidebar_base %}
    <li class="header">PROJECT</li>
    {% url "projects:open_project"  project_id=project_id as  project_url %}
    <li {% if request.get_full_path == project_url %} class="active" {% endif %} ><a href='{% url "projects:open_project"  project_id=project_id%}'><i class="fa fa-file-text fa-fw"></i><span>Overview</span></a>
    </li>
    {% block li_list %}
    <li class="treeview">
    <a href="#">
        <i class="fa fa-archive fa-fw"></i> <span>Project descriptors</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li><a href="/projects/{{project_id}}/descriptors/nsd"><i class="fa fa-files-o fa-fw"></i>Nsd</a></li>
        <li><a href="/projects/{{project_id}}/descriptors/vnfd"><i class="fa fa-files-o fa-fw"></i>Vnfd</a></li>

    </ul>
</li>
    <li class="header">NS</li>
        {% url "instances:list"  type='ns' as  instance_ns_list_url %}
    <li {% if request.get_full_path == instance_ns_list_url %} class="active" {% endif %} ><a href='{% url "instances:list"  type='ns'%}'><i class="fa fa-list fa-fw"></i><span>Instances</span></a>
    <li class="header">Config</li>
        {% url "vim:list"  type='ns' as  vim_list_url %}
 <li {% if request.get_full_path == vim_list_url %} class="active" {% endif %}><a href='{% url "vim:list" %}'><i class="fa fa-list fa-fw"></i><span>Vims</span></a></li>

    {% endblock %}
{% endblock %}

