{% extends "project_descriptors.html" %}
{% load staticfiles %}

{% block head_base %}
    {% with skin_css="AdminLTE/dist/css/skins/skin-purple.min.css"%}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}
    {% with skin="purple"%}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block logo_sidebar %}
    {% with logo_mini="assets/img/osm_small_logo.png" logo="assets/img/OSM-logo.png"%}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block head_block %}
  	{{ block.super }}

{% endblock %}

{% block title_header_big %}
    {{ block.super }}
  {% if descriptor_type  %}
     {{ descriptor_type }}
  {% else%}
    Undefined
  {% endif %} Packages
{% endblock %}

{% block left_sidebar %}
    {% include 'osm/osm_project_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>
    <li><a> {% if descriptor_type  %}
     {{ descriptor_type }}
  {% else%}
    Undefined
  {% endif %} Packages</a></li>

{% endblock %}

{% block content_body %}
  	{{ block.super }}
{% include 'osm/modal/files_list.html' %}
{% include 'modal/instance_create.html' %}
<div class="row">
    {% include "osm/descriptor/descriptorlist.html" %}
</div>
{% endblock %}




{% block resource_block %}
  	{{ block.super }}

    <script>

    function openModalCreateNS(project_id, descriptor_type, descriptor_id) {

    $('#modal_new_instance').modal('show');
        //http://localhost:8000/projects/1/descriptors/nsd/51bd2f53-64e3-480e-bcdc-078868ae63e6/action/create_ns
        /*var dialog = bootbox.dialog({
            message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>',
            closeButton: true
        });
        $.ajax({
            url: '/projects/' + project_id + '/descriptors/' + descriptor_type + '/' + descriptor_id + '/action/create_ns',
            type: 'GET',
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                //$('#modal_show_vim_body').empty();
                console.log(result)
                dialog.modal('hide');
                //build_file_list("Files in " + pkg_id,result.files);
            },
            error: function (result) {
                dialog.modal('hide');
                bootbox.alert("An error occurred while retrieving the package content.");
            }
        });*/
    }

function openPackageContentList(project_id, type, pkg_id){
    var dialog = bootbox.dialog({
        message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>',
        closeButton: true
    });
    $.ajax({
        url: '/projects/' + project_id + '/descriptors/' + type + '/' + pkg_id + '/action/get_package_files_list',
        type: 'GET',
        dataType: "json",
        contentType: "application/json;charset=utf-8",
        success: function (result) {
            //$('#modal_show_vim_body').empty();
            console.log(result)
            dialog.modal('hide');
            build_file_list("Files in " + pkg_id,result.files);
        },
        error: function (result) {
            dialog.modal('hide');
            bootbox.alert("An error occurred while retrieving the package content.");
        }
    });
}


function build_file_list(title,list){
    $('#files_list_tbody').find('tr:gt(0)').remove();
    $('#files_list_tbody_title').text(title)
    for(var i in list){
        var template = '<tr><td>-</td><td>'+list[i]+'</td><td><button type="button" class="btn btn-default" onclick=""><i class="fa fa-folder-open"></i></button></td></tr>'
        $('#files_list_tbody').append(template)
    }
    $('#modal_files_list').modal('show');
}
    </script>
{% endblock %}

{% block footer %}
    {% include "footer.html" with proj_name="Lightweight-OSM" %}
{% endblock %}
