<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        {% url "home" as  home_url %}
          <li {% if request.get_full_path == home_url %} class="active" {% endif %} ><a href='{% url "home" %}'><i class="fa fa-home fa-fw"></i><span>Home</span></a></li>
          <li class="header">PROJECT</li>
          {% url "projects:open_project"  project_id=project_id as  project_url %}
          <li {% if request.get_full_path == project_url %} class="active" {% endif %} >
              <a href='{% url "projects:open_project"  project_id=project_id%}'>
                  <i class="fa fa-file-text fa-fw"></i><span>Overview</span>
              </a>
          </li>
          {% url "projects:list_descriptors"  project_id=project_id descriptor_type="vnfd" as  nsd_list_url %}
          {% url "projects:list_descriptors"  project_id=project_id descriptor_type='vnfd' as  vnfd_list_url %}
        <li {% if request.get_full_path == nsd_list_url %} class="active treeview" {% else %} class="treeview" {% endif %} >
                <a href="#">
                    <i class="fa fa-archive fa-fw"></i> <span>Packages {{nsd_list}}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li {% if request.get_full_path == nsd_list_url %} class="active" {% endif %}>
                        <a href="/projects/{{project_id}}/descriptors/nsd">
                            <i class="fa fa-archive fa-fw"></i>NS Packages
                        </a>
                    </li>
                    <li {% if request.get_full_path == vnfd_list_url %} class="active" {% endif %}>
                        <a href="/projects/{{project_id}}/descriptors/vnfd">
                            <i class="fa fa-archive fa-fw"></i>VNF Packages
                        </a>
                    </li>

                </ul>
            </li>
            {% url "projects:instances:list" project_id=project_id type='ns' as  instance_ns_list_url %}
            <li {% if request.get_full_path == instance_ns_list_url %} class="active" {% endif %} >
                <a href='{% url "projects:instances:list" project_id=project_id  type="ns"%}'>
                    <i class="fa fa-list fa-fw"></i><span>NS Instances</span>
                </a>
            </li>
            <li class="header">CONFIG</li>
            {% url "vim:list"  type='ns' as  vim_list_url %}
             <li {% if request.get_full_path == vim_list_url %} class="active" {% endif %}>
                 <a href='{% url "vim:list" %}'>
                     <i class="fa fa-list fa-fw"></i><span>VIM Accounts</span>
                 </a>
             </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>